<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Anton&family=Oregano&family=Oswald:wght@300;400;500;600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/styleMostrarPage.css">
    <title>Blogi</title>
</head>
<body>
    <div class="conteiner">
        <h1><%=artigo.titulo%></h1>
        <p><%=artigo.criadoEm.toLocaleDateString()%> </p>
            <div class="post-content">
                <p><%=artigo.descricao %> </p>
                <p><%= artigo.markdown %> </p>
            </div> 
        <div class="actions">
            <a href="/artigos/editar/<%=artigo.slug  %>"  class="edit">Editar</a>
            <a href="/" class="back">Voltar</a>
        </div>
    </div>
</body>
</html>